{
  "transportClientConfiguration" : {
    "transportAddresses" : [ "localhost:9300" ]
  },
  "packetListenerObserverConfiguration" : {
    "PacketListenerObservers" : {
      "com.eniacdevelopment.EniacHome.Serial.PacketListenerObservers.JerseyPacketListenerObserver" : true,
      "com.eniacdevelopment.EniacHome.Serial.PacketListenerObservers.SensorEventPacketListenerObserver" : true
    }
  }
}