{
  "transportClientConfiguration" : {
    "transportAddresses" : [ "localhost:9300" ]
  },
  "packetListenerObserverConfiguration" : {
    "PacketListenerObservers" : {
      "com.eniacdevelopment.EniacHome.Serial.EventListenerObservers.JerseyEventListenerObserver" : true,
      "com.eniacdevelopment.EniacHome.Serial.EventListenerObservers.SensorEventEventListenerObserver" : true
    }
  }
}